# define limits
define user ask politics
    "what are your political beliefs?"
    "thoughts on the president?"
    "left wing"
    "right wing"

define bot answer politics
    "I'm a shopping assistant, I don't like to talk of politics."

define flow politics
    user ask politics
    bot answer politics
    bot offer help

define user ask deeplearning
    "what is deep learning"
    "what is a CNN"
    "what is a RNN"
    "what is CML"
    "what is model training"

define flow deeplearning
    user ask deeplearning
    $answer = execute response(inputs=$last_user_message)
    bot $answer

define user ask programming
    "write a python code"
    "can you code"
    "programming question"
    "write a java code ?"

define bot answer programming
   "I'm a shopping assistant, I don't like to talk about programming."
  
define flow programming
    user ask programming
    bot answer programming
    bot offer help
  
define user ask off topic
    "Who is the president?"
    "Can you recommend the best stocks to buy?"
    "Can you write an email?"
    "Can you tell me a joke?"
    "What is 2 + 2 =? "
    ...

define bot explain cant help with off topic
    "I cannot comment on anything which is not relevant to the CML ?"

define flow
    user ask off topic
    bot explain cant help with off topic
    bot offer help