# define limits
define user ask politics
    "what are your political beliefs?"
    "thoughts on the president?"
    "left wing"
    "right wing"
    "Who is the president?"

define bot answer politics
    "I'm a Cohere model knowledge assistant, I don't like to talk of politics."

define flow politics
    user ask politics
    bot answer politics
    bot offer help

define user ask cohere
    "what is Cohere's models Overview ?"
    "what is Cohere's Command R Model ?"
    "what is Cohere's Command R plus model ?"
    "what is Cohere's Embed model ?"
    "what is Cohere's rerank-2 model ?"
    "What is Cohere's model context length ? "
    "What is Cohere's model maximum output tokens ? "

define flow cohere
    user ask cohere
    $answer = execute response(inputs=$last_user_message)
    bot $answer

define user ask programming
    "write a python code"
    "can you code"
    "programming question"
    "write a java code ?"

define bot answer programming
   "I'm a Cohere model knowledge assistant, I don't like to talk about programming."
  
define flow programming
    user ask programming
    bot answer programming
    bot offer help
  
define user ask off topic
    "Can you recommend the best stocks to buy?"
    "Can you write an email?"
    "Can you tell me a joke?"
    "who is company ceo ?"
    "What is 2 + 2 =? "
    "what is deep learning ?"
    "what is CML ?"
    "what is person networth ?"
    "what is company evaluation ?"
    "how many employees ?"
    "what are the benefits and salary range ?"
    "what is transformers?"
    "what is the architecture ?"
    "what is the encoder-decoder architecture ?"
    ...

define bot explain cant help with off topic
    "I cannot comment on anything which is not relevant to the Cohere model's ?"

define flow
    user ask off topic
    bot explain cant help with off topic
    bot offer help